#all-carre{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.carre{
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.carre-clicked{
    background-color: red;
    transform: scale(0.9);
    animation: appear 1s;
}

@keyframes appear {
    from{
        transform: scale(0) rotate(0deg);
    }
    to{
        transform: scale(1) rotate(360deg);
    }
}